@using HRManagementSystem.ViewModel
@model CreateUserViewModel

@{
    ViewData["Title"] = "Create User";
}

<div class="container mt-4">
    <div class="card shadow p-4" style="max-width:500px; margin:auto;">

        <h3 class="text-center mb-3">Create User</h3>

        <form asp-action="CreateUser" method="post">

            <div class="mb-3">
                <label>Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>Role</label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles">
                    <option value="">-- Select Role --</option>
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>

            <button class="btn btn-success w-100">Create User</button>

        </form>
    </div>
</div>