@model HRManagementSystem.Models.Department

<div class="container mt-4">
    <div class="card shadow rounded-4">
        <div class="card-body">
            <h4 class="mb-3">Add Department</h4>

            <form asp-action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label">Department Name</label>
                    <input asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-success">
                    <i class="bi bi-check-circle"></i> Save
                </button>

                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>