<div class="d-flex justify-content-end gap-2">
    <button class="btn btn-sm btn-outline-light text-primary border" title="Edit">
        <i class="bi bi-pencil"></i>
    </button>
    <button class="btn btn-sm btn-outline-light text-info border" title="Details">
        <i class="bi bi-eye"></i>
    </button>
    <button class="btn btn-sm btn-outline-light text-danger border" title="Delete">
        <i class="bi bi-trash"></i>
    </button>
</div>
