body {
    background: #f4f7fb;
}

.sidebar {
    width: 230px;
    background: #a83232;
    min-height: 100vh;
}

.sidebar h4 {
    font-weight: 600;
}

.sidebar .nav-link {
    color: white;
    padding: 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar .nav-link:hover {
    background: rgba(255,255,255,0.15);
}

.submenu .nav-link {
    font-size: 14px;
    padding: 8px 12px;
}

.topbar {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

body[data-theme="light"] {
    background: #f4f7fb;
    color: #212529;
}

body[data-theme="light"] .sidebar {
    background: #a83232;
}

body[data-theme="dark"] {
    background: #121212;
    color: #eee;
}

body[data-theme="dark"] .sidebar {
    background: #1f1f1f;
}

body[data-theme="dark"] .topbar {
    background: #1f1f1f;
    color: white;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #af4c4c;
}

input:checked + .slider:before {
    transform: translateX(24px);
}
